* {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
}

body {
    background-color: #1a1a1a;
    color: #d9d9d9;
    margin: 0;
}

html, body {
    height: 100%;
}

.opening-page {
    height: 100%;
}

h1 {
    font-size: 1100%;
    /*font-size: 150px;*/
    letter-spacing: 20px;
    padding: 0px;
    margin: 0px;
    line-height: 120px;
    text-indent: 20px;
}


h2 {
    font-size: 220%;
    /*font-size: 22px;*/
    letter-spacing: 30px;
    padding: 0px;
    margin: 0px;
    text-indent: 30px;
}
.outer {
    display: table;
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 0;
}



.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
}


canvas {
    width: 100%;
    height: 100;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999; 
}

.icon {
    height: 35px;
    width: 35px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}


icon:hover{
    filter: brightness(150%);
}

#audiobutton {
    margin: 30px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    position: relative;
    float: left;
    z-index: 9999;
}

#audiobutton:hover {
    filter: brightness(150%);
}

/*NAVBAR STYLING*/

.navbar {
    margin-bottom: 0;
    background-color: transparent;
    z-index: 9998;
    border: 0;
    font-size: 16px !important;
    line-height: 2 !important;
    letter-spacing: 5px;
    border-radius: 0;
    margin-top: 15px;
    text-align: right;
}

.navbar li {
    margin-left: 15px;
    margin-right: 30px;
}

.nav.navbar-nav.navbar-right li a {
    color: #d9d9d9;
}

.navbar-nav li a:hover{
    filter: brightness(400%);
}

/*ABOUT ME STYLING*/
.about-me {

    background-color: #d9d9d9;
    color: #1a1a1a;
    position: relative;
    z-index: 995;
    overflow: hidden;
}

.hey {
     text-align: left;
    font-size: 650%;
    margin-top: 40%;
    line-height: 70%;
}

.what-i-am {
    font-size: 200%;
}

.selfie {
    width: 100%;
    height: 100%;
    margin: 0px;
    filter: grayscale(40%); 
}

/*PORTFOLIO STYLING*/
.portfolio {
    color: #d9d9d9;
    background-color: #1a1a1a;
    position: relative;
    z-index: 995;
    height: 100%;
}
.port-rows {
    text-align: center;
    width: 100%;
    height: 100%:
}
.port-styling {
    margin-top: 50%;
}
.port-text {
    font-size: 550%;
}

#myCarousel {
    margin-top: 70%;
}



/*CONTACT STYLING*/
.contact {
    background-color: #d9d9d9;
    color: #1a1a1a;
    position: relative;
    z-index: 995;
    height: 100%;
}
.talk{
    text-align: center;
    font-size: 650%;
    margin-top: 50%;

}
.email {
    font-size: 400%;
    text-align: left;
    margin-top: 55%;
}

.email a {
    color: #1a1a1a;
}

