* {
    text-align: center;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #1a1a1a;
    color: #d9d9d9;
}

.page-title {
    margin-top: 100px;
}

li {
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
}

footer {
    font-family: "Times New Roman", Times, serif;
}